<html>
     <head><title>Sarah's Blog</title>
     </head>
     <body>
     <div>
     <h1> <a href="">Sarah's Blog</a></h1> 
     </div>
     
     <div>
     <p>published: 03.08.2020, 21:30</p>
     <h2><a href="">My first post</a></h2>
     
     <p> As a newbie you might feel that it will be impoossible to match the established developers and create a name for yourself. But the most important part is to give more time and work on personal projects to improve your profile.</p>
   </div>
   <div>
   <h2><a href="">Pythonista!!</a></h2>
   </div>
   </body>
   </html>
